/* .round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border : 2px solid #000000;
    } */

.lesdeux {
    position: relative;
} 
    
.lesecond {
    position: absolute;
    bottom: -10px;
}

.grid{
    display:grid;
    grid-template-columns: 7em 1fr 6em;
    grid-template-rows : 1fr 1fr;
    border : 2px solid #076125;
    vertical-align: middle;
} 

#imageProduit{
    width:112px;
    height: 120px;
}

#image{
    position: relative;
    grid-column:1;
    grid-row: 1 / span 2;
}

#quantite{
    position: absolute;
    bottom: 7px;
    text-align: center;
    align-content: center;
}


.composantGrid{
    align-self: center;
}

#barreProgression{
    grid-column: 2  / span 2; 
    grid-row: 1;
}


#boutonAcheter{
    display: inline-block;
    background-color: #076125;
    border-radius: 15px;
    border: 4px double  #052b11;
    padding: 10px;
    color: #eeeeee;
    cursor: pointer;
    width:100%;
}

#boutonAcheter:hover{
    background-color: #052b11;
    border: 4px inset #076125;
}
